<div class="col-lg-11 mx-auto animated fadeIn">
  <div class="row" *ngIf="deliveries && deliveries.length > 0">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let delivery of deliveries">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 d-block info">
              <p><b>Zona:</b>&nbsp;{{delivery.zona}}</p>
              <p><b>Telefono:</b>&nbsp;{{delivery.telefono}}</p>
              <p><b>Extensión:</b>&nbsp;{{delivery.extension}}</p> 
              <p><span [class]="'badge badge-' + getClassState(delivery.estado)">{{delivery.estado}}</span></p>
              <p><a><i class="fas fa-map-marker-alt"></i>&nbsp;Ver Localización</a></p>
            </div>
            <div class="col-md-6 d-block">
              <img class="mensajerosPic" src={{delivery.pathImage}} alt="Jeisson Avila" />
              <h5 class="text-sm-center mt-2 mb-1">{{delivery.nombre}}</h5>
            </div>
          </div>
          <hr>
          <div class="row">
            <button class="btn btn-outline-info col-md-6  w-75 m-0" (click)="setToUpdate(delivery)" data-toggle="modal" data-target="#editModal">Editar</button>
            <button routerLink="/chat" class="btn btn-outline-secondary col-md-6 m-0">Enviar Mensaje</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Mensajero</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="zone">Zona</label>
          <select [(ngModel)]="editZona" class="form-control" name="zone" id="zone">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="elementToEdit">Estado</label>
          <select [(ngModel)]="editState" class="form-control" name="state" id="state">
            <option value="Activo">Activo</option>
            <option value="Ausente">Ausente</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="confirmUpdate()">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
