<div class="col-lg-10 mx-auto animated fadeIn">
  <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
    <div class="au-card-title">
      <div class="bg-overlay bg-overlay--blue"></div>
      <div class="row">
        <h3 class="col-6"><i class="fas fa-comment-dots"></i>Sala de Mensajes</h3>
        <h3 class="col-6 text-right"><i class="fas fa-chevron-left" (click)="goBack()" style="cursor: pointer;"></i>
        </h3>
      </div>
    </div>
    <div class="au-inbox-wrap show-chat-box">
      <div class="au-chat">
        <div class="au-chat__title">
          <div class="au-chat-info">
            <div class="avatar-wrap online">
              <div class="avatar avatar--small">
                <img alt="Jeisson Avila" src="assets/images/avatar-01.jpg">
              </div>
            </div>
            <span class="nick">
              <a href="#">Jeisson Avila</a>
            </span>
          </div>
        </div>
        <div class="au-chat__content">
          <div class="recei-mess-wrap">
            <span class="mess-time">Hace 12 Minutos</span>
            <div class="recei-mess__inner">
              <div class="recei-mess-list">
                <div class="recei-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
                <div class="recei-mess">Donec tempor, sapien ac viverra</div>
              </div>
            </div>
          </div>
          <div class="send-mess-wrap">
            <span class="mess-time">Hace 30 segundos</span>
            <div class="send-mess__inner">
              <div class="send-mess-list">
                <div class="send-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
              </div>
            </div>
          </div>
        </div>
        <div class="au-chat-textfield">
          <form class="au-form-icon">
            <input class="au-input au-input--full au-input--h65" type="text" placeholder="Escribe un mensaje">
            <button class="au-input-icon">
              <i class="fas fa-camera"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>