<div class="col-lg-10 mx-auto animated fadeIn">
  <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
    <div class="au-card-title">
      <div class="bg-overlay bg-overlay--blue"></div>
      <h3><i class="fas fa-comment-dots"></i>Sala de Mensajes</h3>
    </div>
    <div class="au-inbox-wrap">
      <div class="au-message">
        <div class="au-message__noti">
          <p>Tienes&nbsp;<span>2</span>&nbsp;mensajes nuevos
          </p>
        </div>
        <div class="au-message-list">
          <div class="au-message__item unread" routerLink="/chat">
            <div class="au-message__item-inner">
              <div class="au-message__item-text">
                <div class="avatar-wrap">
                  <div class="avatar">
                    <img src="assets/images/avatar-01.jpg" alt="John Smith">
                  </div>
                </div>
                <div class="text">
                  <h5 class="name">Jeisson Avila</h5>
                  <p>Te ha enviado una foto</p>
                </div>
              </div>
              <div class="au-message__item-time">
                <span>Hace 12 minutos</span>
              </div>
            </div>
          </div>

          <div class="au-message__item unread" routerLink="/chat">
            <div class="au-message__item-inner">
              <div class="au-message__item-text">
                <div class="avatar-wrap online">
                  <div class="avatar">
                    <img src="assets/images/avatar-01.jpg" alt="Nicholas Martinez">
                  </div>
                </div>
                <div class="text">
                  <h5 class="name">Jeisson Avila</h5>
                  <p>Lorem ipsum dolor</p>
                </div>
              </div>
              <div class="au-message__item-time">
                <span>11:00 PM</span>
              </div>
            </div>
          </div>
          <div class="au-message__item" routerLink="/chat">
            <div class="au-message__item-inner">
              <div class="au-message__item-text">
                <div class="avatar-wrap online">
                  <div class="avatar">
                    <img src="assets/images/avatar-01.jpg" alt="Michelle Sims">
                  </div>
                </div>
                <div class="text">
                  <h5 class="name">Jeisson Avila</h5>
                  <p>Lorem ipsum dolor sit amet</p>
                </div>
              </div>
              <div class="au-message__item-time">
                <span>Ayer</span>
              </div>
            </div>
          </div>
          <div class="au-message__item" routerLink="/chat">
            <div class="au-message__item-inner">
              <div class="au-message__item-text">
                <div class="avatar-wrap">
                  <div class="avatar">
                    <img src="assets/images/avatar-01.jpg" alt="Michelle Sims">
                  </div>
                </div>
                <div class="text">
                  <h5 class="name">Jeisson Avila</h5>
                  <p>Purus feugiat finibus</p>
                </div>
              </div>
              <div class="au-message__item-time">
                <span>Sábado</span>
              </div>
            </div>
          </div>
        </div>
        <div class="au-task__footer">
          <button class="au-btn au-btn-load">Cargar más</button>
        </div>
      </div>
    </div>
  </div>
</div>
