<div class="col-lg-10 mx-auto animated fadeIn">
  <form name="courierForm" #courierForm="ngForm" appIdentityRevealed>
    <div class="card">
      <div class="card-body card-block">
        <div class="row">
          <div class="col-3 paddingSup">
            <div class="form-group">
              <select class="form-control" name="prioridad" [(ngModel)]="courierOrder.prioridad" style="width: auto;" required>
                <option value="">Seleccione Prioridad</option>
                <option value="Alta">Alta</option>
                <option value="Media">Media</option>
                <option value="Baja">Baja</option>
              </select>
            </div>
          </div>
          
          <div class="col-5 paddingSup">
            <div class="form-group row">
              <label class="col-2 text-right" for="date" style="line-height: 32px">&nbsp;</label>
              <input class="col-7 form-control d-inline" placeholder="Fecha de Entrega" name="dp" [(ngModel)]="ngDate" ngbDatepicker #d="ngbDatepicker" readonly="true"
                [minDate]="{year: year, month: month, day: day}">
              <button class="btn btn-outline-secondary d-inline" (click)="d.toggle()" type="button">
                <i class="fas fa-calendar"></i>
              </button>
              <!-- <ngb-timepicker class="col-5" name="time" [(ngModel)]="time" [meridian]="true"></ngb-timepicker> -->
              <!-- <div class="col-6">
                
              </div> -->
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <ngb-timepicker class="tiempo" name="time" [(ngModel)]="time" [meridian]="true"></ngb-timepicker>
            </div>

          </div>

          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <button type="button" class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#mapsModal">
                Seleccionar dirección
              </button>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <input type="text" [value]="courierOrder.direccion" class="form-control" readonly required />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <input type="text" id="customer" name="clienteDestino" placeholder="Ingrese nombre del cliente" (keypress)="fieldValidation($event, 'names')" class="form-control"
                [(ngModel)]="courierOrder.clienteDestino" required maxlength="50">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <div class="form-group">
              <input type="text" id="countryCode" value="+57" disabled=true class="form-control" style="width: auto;">
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <input type="text" name="telefono" placeholder="Número de contacto" class="form-control" (keypress)="fieldValidation($event, 'alpha')"
                [(ngModel)]="courierOrder.telefono" required maxlength="30">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input name="personaAContactar" type="text" placeholder="Persona a contactar" class="form-control" [(ngModel)]="courierOrder.personaAContactar" required
                maxlength="50" (keypress)="fieldValidation($event, 'names')">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label for="titular">Titular :</label>
            <select id="titular" class="form-control" [(ngModel)]="owner" name="owner">
              <option value="owner">A nombre mío</option>
              <option value="">A nombre de otra persona</option>
            </select>
          </div>
        </div>

        <div class="row" *ngIf="owner !== 'owner'">
          <div class="col-6">
            <div class="form-group">
              <input type="text" id="personName" placeholder="Persona quien envía" class="form-control" (keypress)="fieldValidation($event, 'names')"
                [(ngModel)]="courierOrder.personaQuienEnvia" required name="personaQuienEnvia" maxlength="50">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <input type="text" id="area" placeholder="Area" class="form-control" [(ngModel)]="courierOrder.area" required name="area" maxlength="30"
                (keypress)="fieldValidation($event, 'alpha')">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" id="extension" placeholder="Extensión" class="form-control" (keypress)="fieldValidation($event, 'number')" [(ngModel)]="courierOrder.extension"
                required name="extension" maxlength="10">
            </div>
          </div>
        </div>

        <div class="row m-3">
          <hr class="col-4">
          <div class="text-center col-3">
            <i class="fas fa-2x fa-chart-bar align-middle"></i>&nbsp;&nbsp;<span>Especificaciones</span>
          </div>
          <hr class="col-4">
        </div>

        <div class="row mt-4">
          <div class="col-3">
            <div class="form-group">
              <select [(ngModel)]="elementToAdd.idTipo" class="form-control" name="tipo" (change)="validNewItem()">
                <option value="0">Tipo de orden</option>
                <option *ngFor="let item of orderTypesId" [value]="item">{{ orderTypes[item] }}</option>
              </select>
            </div>
          </div>
          <div [className]="elementToAdd.elemento.toString() === 'Otros' ? 'col-2' : 'col-3'">
            <div class="form-group">
              <select [(ngModel)]="elementToAdd.elemento" class="form-control" name="elemento" (change)="validNewItem()">
                <option value="">Elemento</option>
                <option *ngFor="let item of elementsList" [value]="item">{{ item }}</option>
              </select>
            </div>
          </div>
          <div class="col-3" *ngIf="elementToAdd.elemento.toString() === 'Otros'">
            <div class="form-group">
              <input [(ngModel)]="elementToAdd.especifique" type="text" id="specify" placeholder="Especifique" class="form-control" (keyup)="validNewItem()"
                (keypress)="fieldValidation($event, 'alpha')" maxlength="50" name="specific">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input [(ngModel)]="elementToAdd.cantidad" type="text" id="quantity" placeholder="Cantidad" (keyup)="validNewItem()" class="form-control" name="cantidad"
                maxlength="10" (keypress)="fieldValidation($event, 'number')">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <span placement="top" [ngbTooltip]="!itemValid ? 'Debes completar todos los campos necesarios' : ''">
                <button [disabled]="!itemValid" type="button" (click)="addElement()" class="btn btn-info">
                  <i class="fa fa-plus"></i>&nbsp;Adicionar
                </button>
              </span>
            </div>
          </div>
        </div>

        <div *ngIf="courierOrder.elementos.length > 0" class="table-responsive table--no-card mt-4 m-b-30">
          <table class="table table-borderless table-striped table-earning">
            <thead>
              <tr>
                <th>Tipo de Orden</th>
                <th>Elemento</th>
                <th>Cantidad</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of courierOrder.elementos; let i = index">
                <td>{{ item.idTipo | orderType }}</td>
                <td>{{ item.elemento == 'Otros' ? item.elemento + ' | ' + item.especifique : item.elemento }}</td>
                <td>{{ item.cantidad }}</td>
                <td>
                  <button class="btn btn-outline-warning mr-2" (click)="editElement(i)" data-toggle="modal" data-target="#editModal">
                    <i class="fas fa-edit"></i>&nbsp;Modificar
                  </button>
                  <button (click)="removeElement(i)" class="btn btn-outline-danger">
                    <i class="fas fa-eraser"></i>&nbsp;Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="courierOrder.elementos.length === 0" class="alert alert-info">
          Aún no has adicionado elementos, por favor adiciona los elementos necesarios
        </div>

        <div class="form-group">
          <textarea name="observaciiones" rows="5" class="form-control" id="observations" maxlength="600" (keypress)="fieldValidation($event, 'names')"
            [(ngModel)]="courierOrder.observaciones" placeholder="Ingrese observaciones a tener en cuenta"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mb-4">
          <button (click)="cancel()" class="btn btn-outline-danger mr-2">
            <i class="fas fa-times"></i>&nbsp;Cancelar
          </button>
          <span [ngbTooltip]="courierForm.valid && courierOrder.elementos.length > 0 ? '' : 'Debes completar toda la información'">
            <button class="btn btn-outline-success" placement="right" (click)="saveOrder()" [disabled]="!courierForm.valid ||  courierOrder.elementos.length == 0">
              <i class="fas fa-save"></i>&nbsp;Crear Orden
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="mapsModal" tabindex="-1" role="dialog" aria-labelledby="mapsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapsModalLabel">DIRECCIÓN DE ENTREGA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group"> 
          <label>Ingresa Dirección</label>
          <input type="text" class="form-control" placeholder="Buscar direcciones cerca" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>
        <div id="map"></div>

        <h5 class="mt-5">Dirección: {{ courierOrder.direccion }} 
          <!-- <span *ngIf="ZonaSeleccionada!=''" class="mt-5">&nbsp;|&nbsp;{{ZonaSeleccionada}}</span> -->
        </h5>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="order">Tipo De Orden</label>
          <select [(ngModel)]="elementToEdit.idTipo" class="form-control" name="order" id="order">
            <option *ngFor="let item of orderTypesId" [value]="item">{{ orderTypes[item] }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="elementToEdit">Elemento</label>
          <select [(ngModel)]="elementToEdit.elemento" class="form-control" name="elemenToEdit" id="elementToEdit">
            <option *ngFor="let item of elementsList" [value]="item">{{ item }}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="elementToEdit.elemento == 'Otros'">
          <label for="specifyToEdit">Especifique</label>
          <input [(ngModel)]="elementToEdit.especifique" type="text" id="specifyToEdit" placeholder="Especifique" class="form-control" (keypress)="fieldValidation($event, 'alpha')"
            maxlength="50" name="specifyToEdit">
        </div>
        <div class="form-group">
          <label for="cantidadToEdit">Tipo De Orden</label>
          <input [(ngModel)]="elementToEdit.cantidad" type="text" id="cantidadToEdit" placeholder="Cantidad" class="form-control" name="cantidadToEdit" maxlength="10"
            (keypress)="fieldValidation($event, 'number')">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
