<header class="header-desktop">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="header-wrap">
        <div class="form-header">
          <h3>Orden de Mensajería</h3>
        </div>

        <div class="header-button">
          <div class="noti-wrap">
            <div [className]="'noti__item ' + classToShow" (click)="toggleNotifications()">
              <i #noti class="fas fa-bell"></i>
              <span class="quantity">3</span>
              <div class="notifi-dropdown">
                <div class="mess__title">
                  <p>Tienes 2 nuevos mensajes</p>
                </div>
                <div class="mess__item" routerLink="/chat">
                  <div class="image img-cir img-40">
                    <img src="assets/images/avatar-01.jpg" alt="Jeisson Avila" />
                  </div>
                  <div class="content">
                    <h6>Jeisson Avila</h6>
                    <p>Te ha enviado una foto</p>
                    <span class="time">Hace 3 miuntos</span>
                  </div>
                </div>
                <div class="mess__item" routerLink="/chat">
                  <div class="image img-cir img-40">
                    <img src="assets/images/avatar-01.jpg" alt="Jeisson Avila" />
                  </div>
                  <div class="content">
                    <h6>Jeisson Avila</h6>
                    <p>Te ha enviado un mensaje</p>
                    <span class="time">Ayer</span>
                  </div>
                </div>
                <div class="mess__footer">
                  <a routerLink="/sala-mensajes">Ver todos los mensajes</a>
                </div>
              </div>
            </div>
          </div>
          <div class="account-wrap">
            <div class="account-item clearfix">
              <div *ngIf="userData.obtenerInfo()[7]!=null" class="image">
                <img [src]="userData.obtenerInfo()[7]" [alt]="userData.obtenerInfo()[2]" appImgFallback="https://via.placeholder.com/200"/>
              </div>
              <div *ngIf="userData.obtenerInfo()[2]!=null" class="content">
                {{userData.obtenerInfo()[2] | titlecase}}<br />
                <!-- <small>Tecnology Manager | {{userData.obtenerInfo()[8] | titlecase}}</small><br /> -->
                <small>{{userData.obtenerInfo()[5]}} Ext. {{userData.obtenerInfo()[6]}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
