<div class="col-lg-12 mx-auto animated fadeIn">
  <ng-container *ngIf="courierOrders && courierOrders.length > 0;else alert">
    <!-- Sección Para el fultro -->
    <button type="button" (click)="showFilter = !showFilter" class="btn btn-secondary mr-2">Filtar Por <i class="fas fa-filter"></i></button>
    <ng-container *ngIf="showFilter">
      <ng-select2 (valueChanged)="applyFilter()" [(ngModel)]="objectFilter.prioridades" class="mr-2" [data]="prioridades" [options]="options" [placeholder]="'Prioridad'">
      </ng-select2>
      <button (click)="cleanFilter()" class="btn btn-outline-secondary mt-1"><i class="fas fa-times-circle"></i>&nbsp;Limpiar Filtro</button>
    </ng-container>

    <div *ngIf="courierOrdersFiltered.length === 0" class="alert alert-danger mt-4">
      No se encuentran ordenes creadas con el filtro seleccionado
    </div>

    <div *ngIf="courierOrdersFiltered.length > 0" class="table-responsive table--no-card mt-4 m-b-30">
      <table class="table table-borderless table-striped table-earning mb-3">
        <thead>
          <tr>
            <th>Número de orden</th>
            <th>Cliente</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Fecha de Entrega</th>
            <th>Prioridad</th>
            <th>Ver Detalles</th>
            <th>Estado</th>
            <th>Asignado A</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let courierOrder of courierOrdersFiltered">
            <tr>
              <td>{{ courierOrder.ordenNo }}</td>
              <td>{{ courierOrder.clienteDestino }}</td>
              <td>{{ courierOrder.direccion }}</td>
              <td>{{ courierOrder.idCiudad }}</td>
              <td>{{ courierOrder.fecha | date: 'dd-MMMM-yyyy' | titlecase }}</td>
              <td>{{ courierOrder.prioridad }}</td>
              <td><button class="btn btn-sm btn-outline-secondary" (click)="courierOrder.showDetails = !courierOrder.showDetails"><i class="fas fa-eye"></i></button></td>
              <td>{{ courierOrder.asignacion.idEstado }}</td>
              <td *ngIf="courierOrder.asignacion">{{ courierOrder.asignacion.idOperador == null ? 'No asignada' : findDelivery(courierOrder.asignacion.idOperador) }}</td>
              <td *ngIf="!courierOrder.asignacion">No asignada</td>
              <td>
                <button *ngIf="!courierOrder.asignacion || !courierOrder.asignacion.idOperador" class="btn btn-sm btn-outline-success mr-2" (click)="selectOrderToAssign(courierOrder)" data-toggle="modal"
                  data-target="#modalAssign">
                  <i class="fas fa-check"></i>&nbsp;Asignar
                </button>
                <button *ngIf="courierOrder.asignacion && courierOrder.asignacion.idOperador" class="btn btn-sm btn-outline-info mr-2" (click)="selectOrderToAssign(courierOrder)" data-toggle="modal"
                  data-target="#modalAssign">
                  <i class="fas fa-check-double"></i>&nbsp;Reasignar
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="cancelOrder(courierOrder.ordenNo)">
                  <i class="fas fa-eraser"></i>&nbsp;Anular
                </button>
              </td>
            </tr>
            <tr *ngIf="courierOrder.elementos && courierOrder.elementos.length > 0 && courierOrder.showDetails">
              <td colspan="3"></td>
              <td colspan="4">
                <table class="table table-borderless table-data-intern animated fadeIn">
                  <thead>
                    <tr>
                      <th>Tipo de Orden</th>
                      <th>Elemento</th>
                      <th>Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of courierOrder.elementos; let i = index">
                      <td>{{ item.idTipo | orderType }}</td>
                      <td>{{ item.elemento == 'Otros' ? item.elemento + ' | ' + item.especifique : item.elemento }}</td>
                      <td>{{ item.cantidad }}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td colspan="3"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #alert>
    <div class="alert alert-danger mt-2">
      No se han encontrado ordenes de mensajería creadas.
    </div>
  </ng-template>
</div>


<div class="modal fade" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssignLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalAssignLabel">Asignación de Orden</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive table-data">
          <table class="table">
            <tbody>
              <tr *ngFor="let delivery of deliveries">
                <td>
                  <label class="au-checkbox">
                    <input type="checkbox" [(ngModel)]="delivery.selected" (click)="validSelect(delivery)">
                    <span class="au-checkmark"></span>
                  </label>
                </td>
                <td>
                  <div class="table-data__info">
                    <h6>{{delivery.nombre}}</h6>
                  </div>
                </td>
                <td class="p-0">
                  <img alt="Jeisson Avila" [src]="delivery.pathImage" class="w-50 rounded-circle mx-auto d-block">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="assignDelivery()">Asignar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
