<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="assets/images/logo.png" alt="BCD Travel" />
    </a>
  </div>
  <div class="menu-sidebar__content">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="has-sub" routerLinkActive="active">
          <a href="#orden-mensajeria" data-toggle="collapse"><i class="fas fa-envelope"></i>Administración ordenes</a>
          <ul id="orden-mensajeria" class="list-unstyled collapse">
            <li routerLinkActive="active">
              <a [routerLink]="[userData.obtenerInfo()[0]+'/crear-orden-mensajeria']">
                Crear orden
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="[ userData.obtenerInfo()[0]+'/ver-ordenes-mensajeria']">
                Ver Ordenes
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="userData.obtenerInfo()[8] =='ADMINISTRADOR'" class="has-sub" routerLinkActive="active">
          <a href="#mensajeros" data-toggle="collapse"><i class="fas fa-biking"></i>Administración mensajeros</a>
          <ul id="mensajeros" class="list-unstyled collapse">
            <li routerLinkActive="active">
              <a [routerLink]="[userData.obtenerInfo()[0]+'/administracion-mensajeros']">
                Ver información
              </a>
            </li>
            <!-- <li routerLinkActive="active">
              <a [routerLink]="[userData.obtenerInfo()[0]+'/mapa-mensajeros']">
                Visualizar en mapa
              </a>
            </li> -->
          </ul>
        </li>
        <!-- <li class="has-sub" routerLinkActive="active">
          <a routerLink="/sala-mensajes"><i class="fas fa-comment-dots"></i>Sala de mensajes</a>
        </li> -->
      </ul>
    </nav>
  </div>
</aside>
